.header {
  //height: 333px;
  //border: red solid 1px;
  display: flex;

  align-items: flex-start;
}

.rec-slider-container{
  margin: 0px !important;
}

@media screen and (max-width: 700px){
  .container-slider{
     margin-bottom: 70px
  }
}

// @media screen and (min-width: 1481px){
//   .container-slider{
//     margin: 40px;
//   }


// }


// @media screen and (min-width: 1854px){
//   .container-slider{
//     margin: 80px;
//   }
// }
