@font-face {
  font-family: "american-typewriter";
  src: local("american-typewriter"),
    url(../public/font/ufonts.com_american-typewriter.ttf) format("truetype");
}

@font-face {
  font-family: "american-typewriter-bold";
  src: local("american-typewriter"),
    url(../public/font/ufonts.com_american-typewriter-bold.ttf)
      format("truetype");
}

@import "./colors.scss";

//pages
@import "../pages/index.scss";

//components
@import "../layout/Layout.scss";
@import "../components/FormStepOne/FormStepOne.scss";
@import "../components/FormStepTwo/FormStepTwo.scss";
@import "../components/StepThree/StepThree.scss";
@import "../components/Header/Header.scss";
@import "../components/MainContainer/MainContainer.scss";
@import "../components/CustomModal/CustomModal.scss";
@import "../components/ModalEror/ModalError.scss";
@import "../components/preloader/Preloader.scss";
@import "../components/processing/Processing.scss";
