.step-three {
  height: 0px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;

  .container-step-three {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 55px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: $secondary;
    font-size: 14px;
    font-family: "american-typewriter";
  }

  .recharge {
    height: 35px;
    width: 130px;
    color: #666666;
    border-radius: 4px;
    background: #d2ec9e;
    border-color: #d2ec9e;
    border-style: hidden;
    font-family: "american-typewriter-bold";
    font-size: 14px;
  }
}
