
.modal-error-bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  background: #0000006b;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none !important;
}

.modal-error-bg.activate{
  display: flex !important;
}

.modal-error{
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "american-typewriter-bold" !important;
  width: 90%;
  max-width: 334px;
}

.modal-error h2{
  color: #fd6253;
}

.modal-error p{
  text-align: center;
}

.modal-error button{
  background: #D2EC9E;
  border-radius: 4px;
  background: #D2EC9E;
  border-radius: 4px;
  width: 137px;
  height: 35px;
  border: none;
  font-weight: 700;
  font-family: "american-typewriter-bold" !important;
}

.exit-box{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 22px;
  color: rgba(196, 196, 196, 1);
  font-family: monospace;
}

.exit-box img{
  cursor: pointer;
}






