.main-container {
  //margin-top: 64px;
  height: 100%;
  //border: black solid 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 25px 0px 25px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.step-number {
  border-radius: 100%;
  background: $secondary;
  width: 30px;
  height: 30px;
  margin: 8px 20px;
}

.step {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  margin-bottom: 10px;
}

.bar {
  width: 100%;
  height: 60px;
  background: $primary;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  font-family: "american-typewriter-bold";
}

button,
.bar {
  cursor: pointer;
}

.bar-success {
  width: 100%;
  height: 60px;
  background: $font-light;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  font-family: "american-typewriter-bold";
  .step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
  }

  .step-title {
    color: $secondary;
  }

  .detail {
    display: flex;
    justify-content: flex-start;
    font-size: 11px;
    span {
      font-family: "american-typewriter";
      color: $secondary;
    }
    .path {
      margin: 0px 5px;
    }
  }
}

.step-number,
.step-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $third;
  font-family: "american-typewriter-bold";
  font-size: 14px;
}

.detail {
  display: none;
}

.step-one,
.step-two,
.step-three {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //height: 60px;
  //margin-bottom: 10px;
  transition: width 0.4s, height 0.4s;

  form {
    height: 0px;
    padding: 0px;
    transition: width 0.4s, height 0.4s;
  }
}

.effect-step-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 360px;
  width: 100%;
  transition: width 0.4s, height 0.4s;

  form {
    height: 318px;
    margin-top: 10px;
    transition: width 0.4s, height 0.4s;
  }

  .bar {
    background: $font-light;
    min-height: 60px;

    .step-number {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $secondary;
    }

    .step-title {
      color: $secondary;
    }

    .detail {
      display: flex;
      justify-content: flex-start;
      font-size: 11px;
      span {
        font-family: "american-typewriter";
        color: $secondary;
      }
      .path {
        margin: 0px 5px;
      }
    }
  }
}

.effect-step-two {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 498px;
  width: 100%;
  transition: width 0.4s, height 0.4s;

  form {
    height: 504px;
    transition: width 0.4s, height 0.4s;
  }

  .bar {
    background: $font-light;

    .step-number {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $secondary;
    }

    .step-title {
      color: $secondary;
    }
  }
}

.effect-step-three {
  flex-direction: column;
  align-items: center;
  height: 234px;
  width: 100%;
  transition: width 0.4s, height 0.4s;

  .step-three {
    height: auto;
    width: 100%;
    //overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .bar {
    background: $font-light;

    .step-number {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $secondary;
    }

    .step-title {
      color: $secondary;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    width: 400px;
    margin-top: 40px;
  }

  .effect-step-one{
    height: 388px !important;
  }

  .effect-step-one form {
    height: 100%;
    transition: width 0.4s, height 0.4s;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    padding: 0px 01px 0px 0px;
  }

  .form-step-two .group-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background: #fd6253;
    color: $third;
    position: relative;
    font-family: "american-typewriter-bold";
    left: 4px;
  }

  .form-step-two {
    left: 0px;
  }
}

@media only screen and (max-width: 280px) {
  .effect-step-two {
    height: 480px !important;
  }

  .effect-step-three {
    height: 259px !important;
  }

  .step-three .container-step-three {
    margin-right: 32px !important;
  }

  .step-title {
    width: 180px !important;
  }
}

@media only screen and (max-width: 322px) {
  .main-container {
    margin-top: 30px;
  }
}
