.preloader {
    background: #fd6253;
    position: fixed;
    height: 100vh;
    height: calc(1vh * 100);
    width: 100%;
    z-index: 500;
  }

  .preloader .ball {
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preloader .box-logo{
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 75vh;

  }

  .preloader #logo{
    width: 200px;
    transition: all 1s;
  }

  @media (max-width: 967px) {
    .preloader .ball {
      width: 50px;
      height: 50px;
    }
  }

  .after-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .credits {
    position: absolute;
    right: 0;
    bottom: 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(129, 129, 129);
      font-family: Degular, sans-serif;
      text-decoration: none;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.6;
      color: #eee;
    }
  }

  //pages

  @keyframes logo{
      from { opacity: 0;}
      to { opacity: 1;}
  }