.form-step-two {
  height: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  left: 10px;
  //border: 1px solid blue;
  //background: chartreuse;

  .disable {
    display: none;
  }

  input::placeholder{
    font-size: 12px !important;
  }

  .title-form-two-first{
    margin: 0 !important; 
  }

  .title-form-two{
    margin: 0 !important; 
    margin-top: 30px !important;
    margin-bottom: 0 !important;
  }

  .group-phone_d,
  .group-icon-input,
  .group-dni-d {
    p {
      width: 175px;
      margin: 5px 0px 0px 30px;
      font-size: 11px;
      height: 25px !important;
      font-family: "american-typewriter";
      color: $secondary;
    }
  }

  .content-form {
    display: flex;
    flex-direction: column;
    //border: 1px solid purple;
    //background: wheat;
    width: 308px;
    // height: 200px;
    align-items: center;
  }

  .gruop-phone {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .phone {
      height: 37px;
      border-radius: 5px;
      border: 1px solid $primary;
      padding: 0px 0px 0px 15px;
      margin-left: 7px;
      color: $secondary;
      outline: 0 none;
      font-family: "american-typewriter-bold";
      font-size: 16px;
      width: 190px;
    }
    .title-phone {
      display: flex;
      margin-top: 10px;
      align-items: flex-start;
      font-family: "american-typewriter-bold";
      font-size: 14px;
      color: $secondary;
      width: 77px;
    }

    .icon {
      visibility: hidden;
      cursor: pointer;
    }
  }

  .group-select-banks {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 18px;

    .select-banks {
      height: 40px;
      width: 93%;
      background: $font-light;
      border-radius: 5px;
      border: 1px solid $font-light;
      color: $secondary;
      outline: 0 none;
      font-family: "american-typewriter-bold";
      font-size: 14px;
      text-align-last: center;
    }
  }

  .group-dni {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px;
    .select-dni {
      height: 40px;
      width: 25%;
      background: $font-light;
      border-radius: 5px;
      border: 1px solid $font-light;
      color: $secondary;
      outline: 0 none;
      font-family: "american-typewriter-bold";
      font-size: 16px;
      text-align-last: center;
    }

    .input-dni {
      height: 37px;
      border-radius: 5px;
      border: 1px solid $primary;
      padding: 0px 0px 0px 15px;
      margin-left: 7px;
      color: $secondary;
      outline: 0 none;
      font-family: "american-typewriter-bold";
      font-size: 16px;
      width: 183px;
    }

    .icon {
      visibility: hidden;
      cursor: pointer;
    }
  }

  .gruop-token {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px;

    .input-token {
      height: 37px;
      border-radius: 5px;
      border: 1px solid $primary;
      padding: 0px 0px 0px 15px;
      margin-left: 7px;
      color: $secondary;
      outline: 0 none;
      font-family: "american-typewriter-bold";
      font-size: 16px;
      width: 183px;
    }

    .token {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-family: "american-typewriter-bold";
      color: $secondary;
      width: 25%;
      font-size: 14px;
      margin-top: 8px;
    }
  }

  .group-icon {
    display: flex;

    align-items: flex-start;
    padding-top: 7px;
    .icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23px;
      height: 23px;
      border-radius: 100%;
      background: $secondary;
      color: $font-light;
      position: relative;
      font-family: "american-typewriter-bold";
      left: 13px;
    }
  }

  .amount:focus,
  .phone:focus {
    border: 1px solid $secondary;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    //margin-bottom: 31px;
    .accept {
      height: 35px;
      width: 160px;
      color: $primary;
      border-radius: 4px;
      background: $buttom-success;
      border-color: $buttom-success;
      border-style: hidden;
      font-family: "american-typewriter-bold";
    }
  }

  .form-step-two p {
    width: 81%;
    margin: 0px 0px 0px 10px;
    height: 40px;
    font-family: "american-typewriter-bold";
  }

  .form-step-two span {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    color: $secondary;
    font-family: "american-typewriter-bold";
  }

  .form-step-two select option {
    margin: 40px;
    background: $third;
    color: $secondary;
  }

  .group-t-h {
    display: flex;
  }

  @media only screen and (max-width: 281px) {
    .gruop-area-phone {
      width: 195px;
    }

    .content-form {
      width: 240px !important;
    }

    .gruop-area-code {
      width: 31%;
    }

    .gruop-area-phone p {
      font-size: 10px;
    }

    .gruop-phone {
      display: flex;

      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }

    .select-dni {
      width: 75%;
    }

    .group-dni-d {
      width: 75%;
    }

    .group-phone_d {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .gruop-phone .phone {
      width: 160px !important;
    }

    .group-select-banks .select-banks {
      width: 100%;
    }

    .group-icon {
      display: none;
    }

    .input-dni,
    .input-token {
      width: 155px !important;
    }

    .group-icon-input {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
    }

    .help {
      display: block !important;
    }

    .gruop-token {
      display: flex;
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }

    p {
      font-size: 10px !important;
    }
  }

  @media only screen and (max-width: 361px) {
    .content-form {
      width: 287px;
    }

    .gruop-phone .phone {
      width: 175px;
    }

    .select-dni {
      font-size: 13px !important;
    }

    .select-banks {
      font-size: 13px !important;
    }

    .token {
      font-size: 13px !important;
    }
  }
}
