/*
########
# Logo #
########
*/
.box-logo {
  margin-top: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-title {
  font-family: "american-typewriter-bold";
  font-size: 20px;
}

.box-background p {
  font-family: "american-typewriter";
  font-size: 14px;
}

/*
##############
# Background #
##############
*/
.box-background {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation-text {
  width: 55%;
  padding: 20px 40px;
  max-width: 384px;
  background-image: url(/images/trazo.png);
  background-repeat: no-repeat !important;
  background-size: cover;
  color: rgba(253, 98, 83, 1);
}

.operation-text h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

/*
###########
# Buttons #
###########
*/
.box-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.box-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icons button {
  background-color: #94dfe4;
  border: transparent;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.box-icons:first-child {
  margin-right: 10px !important;
}

.btn-recharge {
  background-color: #d2ec9e;
  color: rgba(102, 102, 102, 1);
  border-color: transparent;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  font-family: "american-typewriter-bold";

}

.btnDowloadDesktop{
  width: auto !important;
  font-family: "american-typewriter-bold";
  cursor: pointer;
}

.btnDownloadMobile{
  display: none !important;
  font-family: "american-typewriter-bold";
  cursor: pointer;
}

/*
################
# Media Querie #
################
*/
@media screen and (max-width: 800px){

  .btnDowloadDesktop{
    display: none !important;
  }

  .btnDownloadMobile{
    display: block !important;
  }
}

@media screen and (min-width: 500px) {
  .operation-text {
    background-image: url(/images/trazo-desktop.png);
  }


}
