  
  .preloader-process{
      position: absolute;
      top: 0;
      left: 0;
  }

  .preloader-process .preloader {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preloader-process .preloader .dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(253, 98, 83, 1);
    position: absolute;
    left: 30%;
    -webkit-animation: easeInAndOut 2.5s ease infinite;
            animation: easeInAndOut 2.5s ease infinite;
  }

  .preloader-process .preloader-text{
    margin-top: 80px;
    color: #666666;
  }

  .preloader-process .preloader .dot:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    opacity: 0;
  }
  
  .preloader-process .preloader .dot:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    opacity: 0.8;
  }
  .preloader-process .preloader .dot:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    opacity: 0.5;
  }
  .preloader-process .preloader .dot:nth-child(4) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    opacity: 0.2;
  }
  
  @-webkit-keyframes easeInAndOut {
    0% {
      left: 30%;
      opacity: 0;
    }
    48% {
      left: 49%;
      opacity: 1;
    }
    50% {
      left: 51%;
      opacity: 1;
    }
    100% {
      left: 70%;
      opacity: 0;
    }
  }
  
  @keyframes easeInAndOut {
    0% {
      left: 30%;
      opacity: 0;
    }
    48% {
      left: 49%;
      opacity: 1;
    }
    50% {
      left: 51%;
      opacity: 1;
    }
    100% {
      left: 70%;
      opacity: 0;
    }
  }