.text-center{
  text-align: center;
  font-family: "american-typewriter-bold";
  font-size: 16px;
  color: #fd6253;
}

.text-form-one{
  margin-top: 0;
}

.form-step-one {
  height: auto;
  overflow: hidden;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gruop-area-code {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 // margin-bottom: 10px;
  height: auto;
  width: 31%;
  overflow: hidden;
}

.gruop-area-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;

  p {
    font-size: 11px;
    height: 25px !important;
  }
}

.area-code {
  height: 40px;
  background: $font-light;
  border-radius: 5px;
  border: 1px solid $font-light;
  margin-right: 10px;
  color: $secondary;
  outline: 0 none;
  font-family: "american-typewriter-bold";
  font-size: 16px;
  text-align-last: center;
}

.phone {
  height: 37px;
  border-radius: 5px;
  border: 1px solid $primary;
  padding: 0px 0px 0px 15px;
  color: $secondary;
  outline: 0 none;
  font-family: "american-typewriter-bold";
  font-size: 16px;
  width: 91%;
}

.phone::placeholder{
  font-size: 13px !important;
}

.amount {
  height: 37px;
  width: 91%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0px 0px 0px 15px;
  border: 1px solid $primary;
  color: $secondary;
  outline: 0 none;
  font-family: "american-typewriter-bold";
  font-size: 16px;
}

.amount:focus,
.phone:focus {
  border: 1px solid $secondary;
}

.actions {
  display: flex;
  justify-content: center;
}

.accept {
  height: 30px;
  width: 89px;
  color: $primary;
  border-radius: 4px;
  background: $buttom-success;
  border-color: $buttom-success;
  border-style: hidden;
  font-family: "american-typewriter-bold";
  font-size: 14px;
  margin-top: 15px;
}

.content-form {
  display: flex;
  justify-content: center;
}

.form-step-one p {
  width: 81%;
  margin: 0px 0px 0px 10px;
  height: 40px;
  font-family: "american-typewriter";
  color: $secondary;
}

.form-step-one span {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: $secondary;
  font-family: "american-typewriter-bold";
  font-size: 14px;
}

.form-step-one select option {
  margin: 40px;
  background: $third;
  color: $secondary;
}

/* Amount Desktop */
.amounts-desktop{
  display: none;
  grid-template-columns: repeat(4, 1fr);
}

div.amounts-desktop a {
  display: inline-block;
  color: #fd6253;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border: 0.8px solid #000;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-family: "american-typewriter-bold";
}

div.amounts-desktop a.active {
  background-color: #fd6253;
  color: #fff;
  
  border: 1px solid #fd6253;
}

/* Amount Mobile */
div.scrollmenu {
  
  overflow: auto;
  white-space: nowrap;
  width: 84vw;
  padding: 10px 0;
}

div.scrollmenu a {
  display: inline-block;
  color: #fd6253;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border: 0.8px solid #000;
  margin: 5px;
  border-radius: 6px;
  font-family: "american-typewriter-bold";
}

div.scrollmenu a:hover {
  background-color: #fd6253;
  color: #fff;
  
  border: 1px solid #fd6253;
}

div.scrollmenu a.active {
  background-color: #fd6253;
  color: #fff;
  
  border: 1px solid #fd6253;
}

@media only screen and (max-width: 280px) {
  .gruop-area-phone {
    width: 179px;
  }

  .form-step-one p {
    font-size: 10px;
  }

  .phone,
  .amount {
    width: 90%;
  }


}

@media screen and (min-width: "853px"){
  .amounts-mobile{
    display: none;
  }

  .amounts-desktop{
    display: grid;
  }

 

}
